* {
	box-sizing: border-box;
}

body {
	background-color: #F0F0F0;
}

.container {
	margin-top: 50px;
	text-align: center;
}

h1 {
	font-size: 60px;
	color: #2F4F4F;
	margin-bottom: 40px;
}

h4 {
	color: #708090;
	margin-bottom: 10px;
}

input[type=text], textarea {
	width: 350px;
	text-align: center;
	color: #696969;
	outline: none;
	padding: 10px;
	margin: 5px 1px 3px 0px;
	border: none;
	border-radius: 4px;
	font-size: 18px;
}

.alert {
  margin:-40px auto auto auto;
	max-width: 350px;
}

.results {
	max-width: 450px;
}

.modal-footer{
  border-top: none;
}

.modal h1{
  font-size: 90px;
  color: white;
  position: absolute;
  top: 200px;
  left: 110px;
}

.button {
  width: 300px;
  height: 60px;
  color: white;
  background-color: #f04500;
  border: none;
  font-size: 25px;
  top: 330px;
  position: absolute;
  left: 160px;
}
